html {
    background: url(../img/bg-meow.png) no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

body {
    background: none;
}

.user-account, .form-parent, .form-shelter, .shelter-title, .user-setting, .confirm-delete {
	display: none;
}

.top-bar, .big-title, .signUp, .logIn, .user-setting, .delete-account {
    background: rgba(255, 255, 255, 0.7);
}

.top-bar {
    width: 100%;
    margin: 0;
}

.top-bar a {
    color: black;
}

.big-title {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.signUp, .logIn, .user-setting {
    border-radius: 1em;
}

#map {
    width: 100%;
    height: 500px;
}